/* Stylesheet for CS106L Website.
 * If you're the type that reads this, I apologize if it's a little tricky to read.
 */
 
 body
 {
	 font-family: "Times New Roman", serif;
	 font-size: 12pt;
	 
	 color: #000040;
	 background-color:white;
 }
 
 /* Tables are for layout unless noted otherwise. */
 table
 {
	 border: none;
	 background-color: inherit;
	 color: inherit;
	 vertical-align: top;
}
 
 tt
 {
	 font-size: 11pt;
	 font-family: "Courier New", Courier, monospace
 }
 
  code
 {
	 font-size: 11pt;
	 font-family: "Courier New", Courier, monospace
 }
 
 th
 {
	 text-align: left;
	 color: inherit;
	 background-color: inherit;
	 font-weight: bold;
	 font-size: 14pt;
	 vertical-align: top;
 }
 
 td
 {
	 text-align: left;
	 color: inherit;
	 background-color: inherit;
	 font-weight: normal;
	 font-size: 10pt;
	 padding-right: 20px;
	 vertical-align:top;	/* To make everything top-aligned. */
 }
 
 div.header
 {
	font-weight: bold;
	font-size: 125%;
 }
 div.date
 {
	font-size: 100%;
 }
 div.announcement
 {
	 padding-left:30px;
 }
  
 #header_bar
 {
	width: 661px;
	height: 320px;
	 
	background-image: url(../images/cs106b.png) !important; 
	background-repeat: no-repeat;
	background-position: top right;
 }
 
 #announcement_bar
 {
	 width: 500px;
	 margin-right: 30px;
	 float: left;
	 text-align: left;
 }
 
 #non_code_bar
 {
	 width: 250px;
	 margin-right: 30px;
	 float: left;
	 text-align: left;
 }
 
 #code_bar
 {
	 width: 300px;
	 margin-right: 30px;
	 float: left;
	 text-align: left;
 }
 #data
 {
	 width: 1150px;
	 text-align: center;
	 padding-left: 100px;
 }

 a
 {
	 text-decoration: none;
	 color: blue;
	 font-weight: bold;
 }
